@font-face {
  font-family: "PyeongChang";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(PyeongChang.woff2) format("woff2");
}
@font-face {
  font-family: "PyeongChang";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(PyeongChang-Bold.woff2) format("woff2");
}
