@font-face {
  font-family: "SungDongGothic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(SungDongGothic-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "SungDongGothic";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(SungDongGothic-ExtraBold.woff2) format("woff2");
}
