@font-face {
    font-family: "GmarketSans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(GmarketSans-Light.woff2) format("woff2");
}
@font-face {
    font-family: "GmarketSans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(GmarketSans-Medium.woff2) format("woff2");
}
@font-face {
    font-family: "GmarketSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(GmarketSans-Bold.woff2) format("woff2");
}