@font-face {
  font-family: "YangPyeong";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(YangPyeong.woff2) format("woff2");
}
@font-face {
  font-family: "YangPyeong";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(YangPyeong-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "YangPyeong";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(YangPyeong-Bold.woff2) format("woff2");
}
