@font-face {
  font-family: "Jeongnimsaji";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Jeongnimsaji-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Jeongnimsaji";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Jeongnimsaji-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Jeongnimsaji";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Jeongnimsaji-Bold.woff2) format("woff2");
}
