@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(TheJamsil-Thic.woff2) format("woff2");
}
@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(TheJamsil-Light.woff2) format("woff2");
}
@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(TheJamsil.woff2) format("woff2");
}
@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(TheJamsil-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(TheJamsil-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "TheJamsil";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(TheJamsil-ExtraBold.woff2) format("woff2");
}
