@font-face {
  font-family: "GyeonggiTitle";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(GyeonggiTitle-Light.woff2) format("woff2");
}
@font-face {
  font-family: "GyeonggiTitle";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(GyeonggiTitle-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "GyeonggiTitle";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(GyeonggiTitle-Bold.woff2) format("woff2");
}
