@font-face {
  font-family: "HakgyoansimButpen";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(HakgyoansimButpen-Light.woff2) format("woff2");
}
@font-face {
  font-family: "HakgyoansimButpen";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(HakgyoansimButpen-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "HakgyoansimButpen";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HakgyoansimButpen-Bold.woff2) format("woff2");
}
