@font-face {
  font-family: "SBAggro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(SBAggro-Light.woff2) format("woff2");
}
@font-face {
  font-family: "SBAggro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(SBAggro-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "SBAggro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(SBAggro-Bold.woff2) format("woff2");
}
