@font-face {
  font-family: "HappyGoheung";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(HappyGoheung-Light.woff2) format("woff2");
}
@font-face {
  font-family: "HappyGoheung";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(HappyGoheung-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "HappyGoheung";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HappyGoheung-Bold.woff2) format("woff2");
}
