@font-face {
  font-family: "GangwonEduModu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(GangwonEduModu-Light.woff2) format("woff2");
}
@font-face {
  font-family: "GangwonEduModu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(GangwonEduModu-Bold.woff2) format("woff2");
}
