@font-face {
  font-family: "GamtanRoadDotum";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(GamtanRoadDotum-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "GamtanRoadDotum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(GamtanRoadDotum.woff2) format("woff2");
}
@font-face {
  font-family: "GamtanRoadDotum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(GamtanRoadDotum-Bold.woff2) format("woff2");
}
