@font-face {
  font-family: "HeirofLight";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(HeirofLight.woff2) format("woff2");
}
@font-face {
  font-family: "HeirofLight";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HeirofLight-Bold.woff2) format("woff2");
}
