@font-face {
  font-family: "JeonlaBugdo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(JeonlaBugdo-Light.woff2) format("woff2");
}
@font-face {
  font-family: "JeonlaBugdo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(JeonlaBugdo-Medium.woff2) format("woff2");
}
