@font-face {
  font-family: "AritaBuri";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(AritaBuri-Thic.woff2) format("woff2");
}
@font-face {
  font-family: "AritaBuri";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(AritaBuri-Light.woff2) format("woff2");
}
@font-face {
  font-family: "AritaBuri";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(AritaBuri-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "AritaBuri";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(AritaBuri-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "AritaBuri";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(AritaBuri-Bold.woff2) format("woff2");
}
