@font-face {
  font-family: "HakgyoansimBareondotum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(HakgyoansimBareondotum.woff2) format("woff2");
}
@font-face {
  font-family: "HakgyoansimBareondotum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HakgyoansimBareondotum-Bold.woff2) format("woff2");
}
