@font-face {
  font-family: "NamyangjuGothic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NamyangjuGothic-Light.woff2) format("woff2");
}
@font-face {
  font-family: "NamyangjuGothic";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NamyangjuGothic-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "NamyangjuGothic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NamyangjuGothic-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "NamyangjuGothic";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(NamyangjuGothic-ExtraBold.woff2) format("woff2");
}
