@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(SCDream-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(SCDream-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(SCDream-Light.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(SCDream.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(SCDream-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(SCDream-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(SCDream-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(SCDream-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(SCDream-Black.woff2) format("woff2");
}
