@font-face {
  font-family: "HakgyoansimChulseokbu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(HakgyoansimChulseokbu-Light.woff2) format("woff2");
}
@font-face {
  font-family: "HakgyoansimChulseokbu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HakgyoansimChulseokbu-Bold.woff2) format("woff2");
}
