@font-face {
  font-family: "OneMobile";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(OneMobile-Light.woff2) format("woff2");
}
@font-face {
  font-family: "OneMobile";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(OneMobile.woff2) format("woff2");
}
@font-face {
  font-family: "OneMobile";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(OneMobile-Bold.woff2) format("woff2");
}
