@font-face {
  font-family: "Eulyoo1945";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Eulyoo1945.woff2) format("woff2");
}
@font-face {
  font-family: "Eulyoo1945";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(Eulyoo1945-SemiBold.woff2) format("woff2");
}
