@font-face {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Dongle-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Dongle.woff2) format("woff2");
}
@font-face {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Dongle-Bold.woff2) format("woff2");
}
