@font-face {
  font-family: "SeoulNamsan";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(SeoulNamsan-Light.woff2) format("woff2");
}
@font-face {
  font-family: "SeoulNamsan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(SeoulNamsan-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "SeoulNamsan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(SeoulNamsan-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "SeoulNamsan";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(SeoulNamsan-ExtraBold.woff2) format("woff2");
}
