@font-face {
  font-family: "WandoHope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(WandoHope.woff2) format("woff2");
}
@font-face {
  font-family: "WandoHope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(WandoHope-Bold.woff2) format("woff2");
}
